.container {
  display: flex;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 224px;
  grid-gap: 32px;
  flex-grow: 1;
  padding: 56px;
}

@media(max-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 1000px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
