/* -------------------home comic------------------- */

.home-comic{
  display: block;
  width: 300px;
  position: relative;
  left: 50%;
  top: 150px;
}

.home-comic img{
  width: 300px;
}

.home-comic h2{
  position: relative;
  top: 110px;
  left: -10px;
}

.home-comic hr{
  transform: rotate(30deg);
  width: 20px;
  background: #2F2F2F;
  position: relative;
  top: 100px;
  left: 20px;
}
