/*-------------------------------MODAL BACKGROUND-------------------------------*/

.modal {
  display: none; /* Hidden by default*/
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.left {
  position: absolute;
  top:40%;
  left: 0%;
  z-index: 2;
}

.right {
  position: absolute;
  right: 0%;
  top: 40%;
  z-index: 2;
}

.left:hover {
  cursor: pointer;
}

.right:hover {
  cursor: pointer;
}

/*----------------------------------MODAL GRID----------------------------------*/

.modal-card {
  width: 800px;
  display: grid;
  grid-template-columns: 40% 57%;
  grid-gap: 24px;
  padding: 32px 40px;
  background: white;
  margin: auto;
  position: relative;
  border-radius: 16px;
  box-shadow: 4px 4px 56px #333333;
  height: 440px;
}

@media(max-width: 900px) {
  .modal-card {
    grid-template-columns: 1fr;
    height: 80vh;
    overflow: auto;
    width: 90vw;
  }
}

/*----------------------------------MODAL LEFT----------------------------------*/

.modal-card-image {
  width: 280px;
  margin-top: 24px;
}

.modal-card-itemname {
  line-height: 0;
  margin: 24px 0;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.15em;
  font-weight: bold;
}

.modal-card-info {
  text-align: center;
  line-height: 1.5em
}

.buy {
  background-color: #A83D3D;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  box-shadow: 5px 5px 10px #B0B0B0;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.modal-left-info {
  text-align: center;
}

.buy:hover {
  cursor: pointer;
  background: #333333;
}

/*----------------------------------MODAL RIGHT----------------------------------*/

.modal-right {
  overflow: auto;
  border-radius: 16px;
  background-color: #f2f2f2;
  padding: 32px 40px;
  margin: auto;
  max-height: 85%;
  font-size: 14px;
  line-height: 1.8em
}
